
  		 <div class="navbar navbar-inverse navbar-fixed-top scrollclass" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">YOUR LOGO</a>
            </div>
            <div class="navbar-collapse collapse" id="primary_nav_wrap">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/homes">HOME</a></li>
                    <li><a href="/windows">PRODUCTS</a>
                    	 <ul>
						      <li><a href="#">Sub Menu 1</a></li>
						      <li><a href="#">Sub Menu 2</a></li>
						      <li><a href="#">Sub Menu 3</a></li>
						      <li><a href="#">Sub Menu 4</a></li>
						  </ul>
                    </li>
                    <li><a href="#clients-testimonial">TESTIMONIALS</a></li>
                    <li><a href="#pricing">PRICING</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                    <li><a href="#social-section">SOCIAL</a></li>
                    <li><a href="/users/sign_in">LOGIN</a></li>
                    <li><a href="/users/sign_up">SIGN UP</a></li>
                     <!-- <li><a href="/users/sign_out">SIGN OUT</a></li> -->

                    
                </ul>
            </div>
           
        </div>

    </div>



<style type="text/css">
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
</style>